/* add code here to make your image 300px square */
#pet {
    width: 300px;
    length: 300px;
  }
  
  h1 {
    font-family: "arial";
    color: teal;
  }
  /* add code here to change the color and font family of your name/title */
  
  #item1 {
    color: red;
  }
  
  #item2 {
    color: royalblue;
  }
  
  #item3 {
    color: blueviolet;
  }
  /* Bonus: change the color of your list elements */